title {
    font-size: 4em;
}



body
{
    background-color: rgb(21, 19, 16);
}


.hidden-text
{
    display: none;
}







#nav-stack > a
{
    width:70%;
    height:250%;
    padding-top:1.5em;
    background-color: black;
    opacity: 0.9;
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.15em 0.15em 0.25em rgba(0, 0, 0, 0.25);
    font-size: large;
    transition: transform 1s ease-in-out;
}

#nav-stack > a:last-child:hover, #nav-stack > a:nth-last-child(2):hover,#nav-stack > a:nth-last-child(3):hover
{
    background-color: rgba(0, 0, 0, 0.25);
    transform: translateX(500px) translateY(-200px);
}


#nav-stack > a:hover > p
{
    background-color: rgba(0, 0, 0, 0.25);
    display: block;
}

#nav-stack > a:hover
{
    background-color: rgba(0, 0, 0, 0.25);
    transform: translateX(500px) translateY(100px);
}




#nav-stack > a > p{
    color:cyan;
    background-color: black;
    font-size: larger;
}

#nav-stack > a:nth-child(2n + 1){
    animation: left-right 8s ease-in-out backwards;
}

#nav-stack > a:nth-child(2n){
    animation: right-left 8s ease-in-out backwards;
}






@keyframes left-right {
    100% {
        transform: translateX(10px);
    }

    75%{
        transform: translateX(125px);
        transform: translateY(-10px);
    }

    62.5%{
        transform: translateX(125px);
        transform: translateY(10px);
    }

    50%{
        transform: translateX(250px);
    }

    25%{
        transform: translateX(125px);
        transform: translateY(-30px);
    }

    12.50%{
        transform: translateX(125px);
        transform: translateY(30px);
    }

    0%{
        transform: translateX(-1000px);
    }
}

@keyframes right-left {
    100% {
        transform: translateX(10px);
    }
    75%{
        transform: translateX(-250px);
    }
    50%{
        transform: translateX(-250px);
    }
    25%{
        transform: translateX(-250px);
        transform: translateY(30px);
    }

    12.50%{
        transform: translateX(-125px);
        transform: translateY(-30px);
    }

    0%{
        transform: translateX(1000px);
    }
}

