<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maze Generator and solver</title>
    <link rel="stylesheet" href="maze.css">
</head>

<body>
    <header class="maze-header">
        <h1 class="header">Maze generating program that uses randomized DFS(depth first search)</h1>
    </header>
    <main class="body">
        <p>The program uses randomized DFS to generate a 2D maze and both DFS and BFS to find a path˜</p>
        <p>Currently the web version is unavaliable</p>
        <p>If you wanna try it on your machine</p>
        <li>
            <p>Clone the
                <a href="https://github.com/kyawzinmyat/mazeGen">Git Hub repository</a>
            </p>
        </li>
        <li>
            <p>
                Install pygame
            </p>
        </li>
        <li>
            <p>
                Run game.py file
            </p>
        </li>
    </main>

    <footer class="footer">
        <h4>Here is a video of how its work!</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Dz6NYz66Sac" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <p>That is all!</p>
    </footer>
</body>

</html>