


.maze-header
{
    font-size: 1em;
    background: aquamarine;
    height: auto;
    padding: 6em 0;
}

.header{
    text-align: center;
}

.body
{
    padding:1em;
    background-color : whitesmoke;
}

body  p
{
    font-size: 2em;
    text-align: center;
}


.instructions
{
    background: black;
    color:white;
    opacity: 0.8;
    width:50%;
    padding:1em;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

a:hover{
    color:grey;
}


.footer
{
    background-color: black;
    color:#fff;
    text-align: center;
    height: auto;
    opacity: 0.8;
}

.footer2
{   
    background-color: blue;
    color:#fff;
    padding:1em;
    margin-top:2em;
    margin-bottom: 2em;
    text-align: center;
    height: auto;
    opacity: 0.4;
}

.wrapper
{
    position: relative;
    padding-bottom: 56.25%;
    padding-top:25px;
    height:0px
}

.wrapper iframe
{
    position : absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    height:100%;
    width:100%;
}
