<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<script type="text/javascript" src="{{url_for('static',filename='index.js')}}"></script>
<body>
	<!--<p id="error"></p>
	<h1 id="count-num">0</h1>
	<p id="count-p"></p>
	<button type="submit" onclick="count_()">Click</button>
	<button type="submit" onclick="error()">Save</button>
	-->
	
	<h1>Black Jack</h1>
	<p id ="new-card"></p>
	<p id="card"></p>
	<p id ="sum"></p>
	
	<button type="submit" onclick="start()">Start Game</button>
	<button type="submit" onclick="new_()" >New Card</button>
	
	
	
</body>

<script type="text/javascript" src="{{url_for('static',filename='index.js')}}"></script>
</html>