<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tictactoe with AI</title>
    <link rel="stylesheet" href="maze.css">
</head>

<body>
    
    <header class="maze-header">
        <h1 style = "text-align: center;" class = "title">Tic Tac Toe</h1>
        <h1 class="header">An application to illustrate the Minmax algorithm </h1>
        <h1 class = "header">To locate the optimal move, the program use the Minmax algorithm. </h1>
        <h1 class="header">Additionally, alpha-beta pruning is included to enhance the Minmax algorithm.</h1>
    </header>
    <main class="body">
        <p>Currently the web version is unavaliable</p>
        <p>If you wanna try it on your machine</p>
        <li>
            <p>Clone the
                <a href="https://github.com/kyawzinmyat/tictactoe">Git Hub repository</a>
            </p>
            <p class = "instructions">$git clone https://github.com/kyawzinmyat/tictactoe</p>
        </li>
        <li>
            <p>
                Install pygame
            </p>
            <p class = "instructions">
                $pip3 install pygame
            </p>
            <p>Or</p>
            <p class = "instructions">$pip3 install -r requirements.txt</p>
        </li>
        <li>
            <p>
                Run runner.py file
            </p>
            <p class = "instructions">
                $python3 runner.py
            </p>
        </li>
    </main>

</body>

</html>